<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "erro(s)") %> não permitiram que o paciente fosse criado:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :cpf, class: "form-label" %>
    <%= form.text_field :cpf, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :birthdate, class: "form-label" %>
    <%= form.date_field :birthdate, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :address_street, class: "form-label" %>
    <%= form.text_field :address_street, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :address_neighborhood, class: "form-label" %>
    <%= form.text_field :address_neighborhood, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :address_city, class: "form-label" %>
    <%= form.text_field :address_city, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :address_state, class: "form-label" %>
    <%= form.text_field :address_state, class: "form-control" %>
  </div>

  <div class="d-flex flex-row gap-3 mt-3">
    <%= link_to patients_path, class: "btn btn-primary" do %>
      <%= fa_icon "angle-left" %>
      Voltar
    <% end %>
    <%= button_tag type: "submit", class: "btn btn-success" do %>
      <%= fa_icon "save" %>
      Salvar
    <% end %>
  </div>
<% end %>
