<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= patient.cpf %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= patient.birthdate %>
  </p>

  <p>
    <strong>Address street:</strong>
    <%= patient.address_street %>
  </p>

  <p>
    <strong>Address neighborhood:</strong>
    <%= patient.address_neighborhood %>
  </p>

  <p>
    <strong>Address city:</strong>
    <%= patient.address_city %>
  </p>

  <p>
    <strong>Address state:</strong>
    <%= patient.address_state %>
  </p>

</div>
