<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-10">
    <h1>Pacientes</h1>
  </div>
  <div class="col-2 text-end">
    <%= link_to new_patient_path, class: "btn btn-success" do %>
      <%= fa_icon "plus" %>
      Novo paciente
    <% end %>
  </div>
</div>

<div id="patients" class="mx-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.id %></td>
          <td><%= patient.name %></td>
          <td><%= patient.cpf %></td>
          <td><%= patient.birthdate %></td>
          <td><%= patient.address_street %></td>
          <td><%= patient.address_neighborhood %></td>
          <td><%= patient.address_city %></td>
          <td><%= patient.address_state %></td>
          <td>
            <div class="d-flex flex-row gap-2">
              <%= link_to patient_path(patient), class: "text-decoration-none text-reset" do %>
                <%= fa_icon "eye" %>
              <% end %>
              <%= link_to edit_patient_path(patient), class: "text-decoration-none text-reset" do %>
                <%= fa_icon "pencil" %>
              <% end %>
              <%= link_to patient_path(patient), data: { "turbo_method": :delete, "turbo_confirm": "Are you sure?" }, class: "text-decoration-none text-reset" do %>
                <%= fa_icon "trash" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
